[Desktop Entry]
Categories=RemoteAccess;Network;
Comment=@PROJECT_DESCRIPTION@
Exec=vibeshine
Icon=io.github.Nonary.vibeshine
Keywords=vibeshine;gamestream;stream;moonlight;remote play;
Name=@PROJECT_NAME@
Terminal=true
Type=Application
Version=1.0
X-AppImage-Arch=x86_64
X-AppImage-Name=vibeshine
X-AppImage-Version=@PROJECT_VERSION@
