[Desktop Entry]
Categories=RemoteAccess;Network;
Comment=@PROJECT_DESCRIPTION@
Exec=vibeshine.sh
Icon=@SUNSHINE_DESKTOP_ICON@
Keywords=vibeshine;gamestream;stream;moonlight;remote play;
Name=@PROJECT_NAME@
Type=Application
Version=1.0
